.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.movieItem {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.movieItem:hover {
    transform: scale(1.03);
}